<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
      <h3>omg en meny</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="active menu-item-draggable"><a>New container</a></li> <!--data-toggle="modal" data-target="#newContainer"-->
        <li class="active menu-item-draggable"><a href="/servers/new">New server</a></li>
      </ul>
    </div>
</div>
