<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
      <h3></h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="active menu-item newContainer"><a href="#" data-toggle="modal" data-target="#newContainerModal">New container</a></li>
        <li class="active menu-item newServer"><a href="#" data-toggle="modal" data-target="#newServer">New server</a></li>
      </ul>
    </div>
</div>