<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
      <h3>omg en meny</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#" data-toggle="modal" data-target="#newContainer">New container</a></li>
        <li class="active"><a href="#" data-toggle="modal" data-target="#newServer">New server</a></li>
      </ul>
    </div>
</div>